ion-toolbar{
    --background: transparent;
    --ion-color-base: transparent !important;
}
ion-menu-togle,ion-content,ion-list{
    --background: transparent;
    --ion-color-base: transparent !important;
}
.fondo{
    background: rgb(32, 54, 39);
    color:rgb(254, 252, 181);
}
.letra{
    font-size: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
