ion-title{
    font-size: 150%;
    
}
ion-toolbar{
    --background: transparent;
    --ion-color-base: transparent !important;
}
.fondo{
    text-align: center; 
    color:rgb(254, 252, 181);
    background: rgb(32, 54, 39);    
    font-family: Arial, Helvetica, sans-serif;
}
.letra{
    font-size: 120%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ion-back-button{
    --color:rgb(254, 252, 181);
    --transition: margin-left 4s;
}