<ion-content fullscreen>
  <!--Todo el contenido de la pagina-->
  <!--Fondo de la pagina -->
  <div class="fondo">
      <ion-header>
          <ion-toolbar color="transparent">
          <ion-buttons slot="start" color="transparent">
            <!--Menú-->
            <ion-menu-button class="menu"></ion-menu-button>
          </ion-buttons>
          <ion-title class="menu"> SPAGHETTI BOWL COLOMBIA </ion-title>
        </ion-toolbar>
        </ion-header>
      <!--Contenido para generar estrellas en el fondo de imagen-->
    <div class="estrella primera"></div>
    <div class="estrella segunda"></div>
    <div class="estrella tercera"></div>
    <div class="estrella cuarta"></div>
    <div class="estrella quinta"></div>
    <div class="estrella sexta"></div>
    <div class="estrella septima"></div>
    <div class="estrella octava"></div>
    <div class="estrella novena"></div>
    <div class="estrella decima"></div>
    <!------------------------------------------------------------>

    <div class="tierra">
      <!--Cuadro para determinar la función responsive -->
      <div class="mapa"></div><!-- Tierra girando -->
    </div>
  </div>
</ion-content>